@import url("common.css");

.head{
	height: 80px;
	width: 100%;
	background-color: #000;
}

.head_container{
	width: 1300px;
	height: 80px;
	margin: 0 auto;
}

.head_left{
	width: 420px;
	height: 80px;
	background-color: #ff0000;
}

.head_left_logo{
	width: 90px;
	height: 120px;
	background-color: #000;
	position: absolute;
	z-index: 10;

	display: table;
}

.head_left_logo_icon_txt_container{
	display: table-cell;
	vertical-align: middle;
}


.head_left_logo_icon{
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 65px;
}

.head_left_logo_txt{
	display: block;
	margin: 0 auto;
	margin-top: 2px;
	width: 45px;
	height: 30px;
}

.head_left ul{
	float: right;
	margin-right: 25px;
}

.head_left ul li{
	float: left;
	line-height: 80px;
}

.head_left ul li a{
	color: #ffffff;
}

.head_left ul li:first-child a span{
	color: #ff00ff;
	background: url("imgs/head_logo_curiosity_hover.png");
	/*background-image: url("imgs/head_logo_curiosity_hover.png");*/
	/*background: url("imgs/head_logo_curiosity_hover.png") no-repeat;  */
}