@import url("common.css");


body{
	background-color: #eee;
}

.head{
	height: 80px;
	width: 100%;
	background-color: #000;
	
}

.head_font_hover:hover{
	color: #ffcb1f;
}


.head_container{
	width: 1300px;
	height: 80px;
	margin: 0 auto;
	/*background-color: #0ff;*/
}

.head_container a{
	color: #fff;
}

.head_left{
	width: 400px;
	height: 80px;
	border-right: 1px solid #4d4d4d;
	float: left;
}

.head_left_logo{
	width: 90px;
	height: 120px;
	background-color: #000;
	position: absolute;
	z-index: 10;
	display: table;
}

.head_left_logo_icon_txt_container{
	display: table-cell;
	vertical-align: middle;
}


.head_left_logo_icon{
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 65px;
}

.head_left_logo_txt{
	display: block;
	margin: 0 auto;
	margin-top: 2px;
	width: 45px;
	height: 30px;
}

.head_left ul{
	float: right;
	margin-right: 25px;
}

.head_left ul li{
	float: left;
	line-height: 80px;
}

.head_left ul li a{
	color: #ffffff;
}

.head_left ul li img{
	margin-right: 10px;
}

.head_left ul li:first-child a{
	margin-right: 45px;
	background: url("../imgs/head_logo_curiosity.png") no-repeat scroll left center;
	padding-left: 30px;
}

.head_left ul li:first-child a:hover{
	background: url("../imgs/head_logo_curiosity_hover.png") no-repeat scroll left center;
}

.head_left ul li:last-child a{ 
	padding-left: 30px;
	background: url("../imgs/head_logo_menu.png") no-repeat scroll left center;
}

.head_left ul li:last-child a:hover{ 
	background: url("../imgs/head_logo_memu_hover.png") no-repeat scroll left center;
}

.head_center{
	float: left;
	width: 600px;
	height: 80px;
	border-right: 1px solid #4d4d4d;
	position: relative;
	line-height: 80px;
	/*margin-left: 25px;*/

}

.head_center ul li{
	float: left;
	margin-left: 25px;
}

.head_center ul li a{
	color: #808080;
	font-size: 14px;
}

.head_center ul li a:hover{
	color: #ffcb1f;
}

.head_center_all_category{
	position: absolute;
	background-color: #000;
	padding: 0 10px;
	height: 80px;
	right: 0px;
}	

.head_center_all_category a{
	line-height: 80px;
}

.head_center_all_category a img{
	margin-top: 15px;
}


.head_right_app{
	float: left;
	width: 70px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-right: 1px solid #4d4d4d;
}

.head_right_search{
	float: left;
	width: 60px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-right: 1px solid #4d4d4d;
}

.head_right_about{
	float: left;
}

.head_right_about ul{
	background-color: #ff0000;
}

.head_right_about li{
	float: left;
	line-height: 80px;
	text-align: center;
	margin-left: 15px;
}

/*.head_right_about li:first-child a{
	display: block;
	width: 20px;
	height: 20px;
	background: url("../imgs/head_right_weibo.png") no-repeat scroll 0px 0px;
}*/

.head_right_about li img{
	vertical-align: middle;
}


.head_category_list_container{
	width: 100%;
	height: 80px;
	background-color: #000;
	display: none;
	/*display: block;*/
}


.head_category_list_left_line{
	border-top:1px solid #4d4d4d;
	height: 1px;
	width: 434px;
}

.head_category_list{
	/*background-color: #f0f;*/
	width: 900px;
	height: 80px;
	margin: 0 auto;
}

.head_category_list li{
	float: left;
	/*background-color: #0f0;*/
	width: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
/*	margin-left: 50px;
	margin-right: 50px;*/
	padding-right: 100px;
}

.head_category_list li a{
	color: #fff;
	background: url("../imgs/head_category_list_design.png") no-repeat scroll left center;
	padding-left: 25px;

}

.main-container{
	width: 1020px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-container{
	width: 760px;
	height: 450px;
	float: left;
}


.swiper-slide-item-container{
	position: relative;

}

.swiper-button-prev{
	background-image: url("../imgs/swiper_pre.png");
}

.swiper-button-next{
	background-image: url("../imgs/swiper_next.png");
}

.swiper-slide-item-container img{
	width: 760px;
	height: 450px;
}
.swiper-slide-item-container-category{
	position: absolute;
	left: 20px;
	top: 350px;
	color: #ffcb1f;
	font-size: 14px;
	padding: 0 5px;
	background-color: #000;
}

.swiper-slide-item-container-title{
	position: absolute;
	left: 20px;
	top: 380px;
	color: #fff;
	font-size: 24px;
	padding: 0 5px;
	background-color: #000;
}

.logo-skill-container{
	float: left;
	margin-left: 15px;
	width: 245px;
	height: 450px;
}

.skill-chart-container{
	width: 245px;
	height: 215px;
	position: relative;
}

.skill-chart{
	position: absolute;
	width: 245px;
	margin-top: -210px;
	text-align: center;
}

.skill-head-portrait{
	position: absolute;
	margin-top: -140px;
	width: 245px;
	text-align: center;
}

.logo-button{
	width: 245px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	background-color: #ffcb1f;
}

.logo-prompt{
	width: 245px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #808080;
	background-color: #fff;
}

.download-app-prompt img{
	height: 155px;
	margin-top: 10px;
	width: 245px;
}

.item-normal{
	width: 245px;
	height: 280px;
	background-color: #fff;
	position: relative;
	clear: both;
}

.item-normal img{
	width: 245px;
	height: 190px;
}


.item-normal-txt{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #0f1419;
}



.item-normal-category{
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 14px;
	color: #fff;
}

.item-time-comment-praise{
	margin-top: 10px;
	color: #666;
}


.item-normal-praise{
	float: right;
	color: #d1d1d1;
}

.item-normal-praise span:first-child{
	margin-right: 20px;
}